<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../abas-webui-styles/abas-color.html">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

<dom-module id="abas-widget-style">
  <template>
    <style>
      :host {
        display: block;
        background: var(--abas-white); 
        box-shadow: unset;
        border-radius: 0px;
        font-family: 'Open Sans' , 'sans-serif';
        height: 100%;
      }

      .widgettitle {
        color: var(--abas-outer-space);
        font-size: 90%;
        font-weight: bold;
        text-align: left;
        width: calc(100% - 12px);
      }

      .circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid;
        border-color: var(--widget-bus-color);
        background: var(--widget-bus-color-active);
        position: absolute;
        right: 8px;
        top: 8px;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        margin: 5px 0;
        padding: 0;
        background: var(--abas-mountain-meadow);
      }

      .widget-footer {
        color: var(--abas-rolling-stone);
        font-size: 80%;
        width: 100%;
        text-align: center;
      } 

      [theme="flat"] {
        display: block;   
        background: unset;
        box-shadow: unset;
        border-radius: unset;   
      }

      .title {
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        font-weight: 400;
      }

      [slot="content"], .content {
        overflow: auto;
        height: calc( 100% - 18px);
        padding: 8px;
        border: 1px solid var(--abas-silver);
        cursor: pointer;
      }

      [theme="flat"] [slot="content"], [theme="flat"] .content {
        border-top: unset;
        border-radius: unset;   
        background: rgba(255, 255, 255, 0.8);
      }
    </style>
  </template>
</dom-module>